* {
    margin: 0;
    padding: 0;
}
html, body {
    touch-action: manipulation;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(198, 228, 228)
}
.main-div {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.title-name {
    color: rgba(61, 102, 102, 1);
    font-weight: bold;
    font-size: 21px;
    letter-spacing: 5px;
}
.primary-div {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 25px;
    box-shadow: 10px 10px 10px 10px rgba(79, 166, 175, 0.2007);
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.left-name {
    color: rgba(94, 122, 125, 1);
    font-size: 16px;
    font-family: monospace;
}
.input1 {
    border: none;
    background-color: rgba(243, 249, 250, 1);
    border-radius: 5px;
    color: rgba(158, 187, 189, 1);
    padding: 12px 14px 12px 14px;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: right;
    direction: rtl;
}
.img1 {
    position: absolute;
    z-index: 10;
    width: 15px;
    height: 15px;
    object-fit: cover;
    left: 12px;
    bottom: 14px;
}
.for4 {
    bottom: 18px;
}
.for1 {
    width: 20px;
    height: 20px;
}
.left-div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
    position: relative;
}
.primary-div-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 35px;
}
.checks-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
    width: 328px;
}
.primary-div-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 55px 35px 55px 35px;
    background-color: rgba(0, 71, 75, 1);
    border-radius: 15px;
    gap: 25px;
    height: 80%;
}
.right-div1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 50px;
}
.right-div1-div1 {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.right-name1 {
    color: white;
    font-size: 15px;
    font-family: monospace;
}
.right-name2 {
    color: rgba(127, 157, 159, 1);
    font-size: 14px;
    font-family: monospace;
}
.number {
    font-size: 38px;
    color: rgba(38, 194, 174, 1);
    font-weight: bold;
    width: 180px;
    text-align: end;
    word-wrap: break-word;
    white-space: normal;
}
.button1 {
    color: black;
    background-color: rgba(38, 194, 174, 1);
    border-radius: 5px;
    border: none;
    font-weight: bold;
    margin-top: 60px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    transition: all 0.2s;
}
.button1:hover {
    background-color: rgba(159, 232, 223, 1);
}
.buttons1 {
    padding: 10px 0px 10px 0px;
    width: 102px;
    border-radius: 5px;
    background-color: rgba(0, 71, 75, 1);
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
    transition: all 0.2s;
}
.buttons1:hover {
    opacity: 0.8;
}
.buttons1.active {
    background-color: rgba(38, 194, 174, 1);
    color: black;
}
.for2 {
    background-color: rgba(243, 249, 250, 1);
    color: rgba(84, 120, 120, 1);
    letter-spacing: 1px;
    font-weight: 700;
    cursor: default;
}
.input1jspro1 {
    border: 2px solid rgba(225, 112, 82, 1);
}
.buttonnone {
    background-color: rgba(13, 104, 109, 1);
    color: rgb(65, 65, 65);
    cursor: help;
}
.buttonnone:hover {
    background-color: rgba(13, 104, 109, 1);
    color: rgb(65, 65, 65);
}
.xb {
    padding: 3px 9px 3px 9px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(225, 112, 82, 1);
    border: none;
    cursor: pointer;
}
.xb:hover {
    opacity: 0.8;
}
.inputpro1 {
    padding: 10px 0px 10px 16px;
    width: 85px;
    border: none;
    border: 1px solid rgb(196, 200, 201);
    border-radius: 5px;
    background-color: rgb(218, 222, 223);
    font-size: 18px;
    font-weight: bold;
}
.newnum1 {
    font-size: 30px;
}
.span1 {
    color: rgba(225, 112, 82, 1);
    font-size: 14px;
    font-weight: bold;
    width: 320px;
    text-align: end;
}
.input1jspro12{
    border: 2px solid green;
}






@media (max-width: 820px) {

    .primary-div {
        flex-direction: column;
    }
    .main-div {
        gap: 20px;
    }
    .title-name {
        padding: 20px 0px 0px 0px;
    }

}
@media (max-width: 650px) {

    .primary-div {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .primary-div-left {
        gap: 20px;
    }
    .left-div1 {
        gap: 4px;
    }
    .button1 {
        margin-top: 10px;
    }
    .primary-div-right {
        padding: 40px 25px 40px 25px;
    }
    .buttons1 {
        width: 90px;
    }
    .checks-div {
        justify-content: center;
        align-items: center;
    }
    .buttons1 {
        width: 140px;
        font-size: 21px;
    }
    .inputpro1 {
        padding: 10.5px 0px 10.5px 32px;
        width: 106px;
    }

}
@media (max-width: 480px) {
    .buttons1 {
        width: 140px;
        font-size: 21px;
    }
    .inputpro1 {
        padding: 10.5px 0px 10.5px 32px;
        width: 106px;
    }
    .number {
        font-size: 30px;
    }
}
@media (max-width: 365px) {
    .buttons1 {
        width: 100px;
        font-size: 21px;
    }
    .left-div1 {
        align-items: center;
    }
    .input1 {
        width: 250px;
    }
    .primary-div-left {
        align-items: center;
    }
    .span1 {
        width: 260px;
    }
    .inputpro1 {
        width: 98px;
        padding: 10.5px 0px 10.5px 0px;
    }
}